{% extends '@Pages/views/Backend/Pages/_edit.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link href="/assets/services/datetimepicker/css/jquery.datetimepicker.css" rel="stylesheet"/>
{% endblock %}

{% block head_edit_page %}
    <h4 class="panel-title pull-left"
        style="padding-top: 7.5px;">{% if ( app.request.attributes.get('_route') | slice(-4) == 'edit') %}{{ 'Редактирование новости'|trans }}{% else %}{{ 'Создание новости'|trans }}{% endif %}</h4>
{% endblock head_edit_page %}

{% block footer_javascript %}
    {{ parent() }}
    <script src="/assets/services/datetimepicker/js/jquery.datetimepicker.js"></script>

    <script type="text/javascript">
        $(function () {
            initRedactor("textarea[id=news_short_content]");
            initRedactor("textarea[id=news_content]");
            $("#news_show_at").datetimepicker({format: "Y-m-d H:i"});
        });
    </script>

{% endblock %}